body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#JogodaVelha{
    width:603px;
    height:600px;
    border:solid 3px;
    border-color: brown;
}
 
.linha{
    height:200px;
    border-bottom:solid 1px;
}
 
.casa{
    width:200px;
    height:100%;
    border-right:solid 1px;
    float:left;
}

#casa1, #casa3, #casa5, #casa7, #casa9{
    background-color: rgba(165, 42, 42, 0.863);
    background-size: 100%;
}
 
#casa3, #casa9{
     border-color: rgba(165, 42, 42, 0.863);
 }